# NEON DATABASE CONNECTION
DATABASE_URL="postgresql://user:password@endpoint/neondb?sslmode=require"

# JWT SECURITY CONFIG
JWT_SECRET="write_any_secret_here_for_local_dev"

# APP SETTINGS
PORT=3000
NODE_ENV="development"
